<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="static/css/estilos.css">
        <title>
            {% block title %}

            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="flex-container">
                    <li><img src="/static/images/logo_csdm.jpg"></li>
                    <li class="vl"></li>
                    <li><a href="/">USUARIS</a></li>
                    <li><a href="#">SERVEIS</a></li>
                    <li><a href="#">CENTRES</a></li>
                    <li><a href="#">ACTUALITAT</a></li>
                    <li><a href="#">R+D+I</a></li>
                    <li><a href="#">EL CONSORCI</a></li>
                    <li><a href="login">LLEGIR I COMPARTIR</a></li>
                    <li><img src="/static/images/navbar_end.jpg"></li>
                </ul>
                <img src="/static/articulos_img/el-perque-de-tot-plegat-416x641.jpg">
            </nav>
        </header>

    {% block content %}

    {% endblock %}
    </body>
</html>