<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="static/css/estilos.css">
        <title>
            {% block title %}

            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="/static/images/logo_csdm.jpg"></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Información</a></li>
                    <li><a href="#">Vídeos</a></li>
                    <li><a href="login">Comparte tus lecturas</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <button><a href="{{ url_for ('logout') }}" class="button error">Logout</a></button>
                </ul>
            </nav>
        </header>

    {% block content %}

    {% endblock %}
    </body>
</html>