<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="static/css/estilos.css">
        <title>
            {% block title %}

            {% endblock %}
        </title>
    </head>
    <body>
        <header class="flex-container-spcbtween">
            <nav>
                <ul>
                    <li class="navbar-logo"><img src="/static/images/logo_cdsm.svg"></li>
                    <li style="padding-left: 20px"><a href="/">USUARIS</a></li>
                    <li><a href="/">SERVEIS</a></li>
                    <li><a href="/">CENTRES</a></li>
                    <li><a href="/">ACTUALITAT</a></li>
                    <li><a href="/">R+D+I</a></li>
                    <li><a href="/">EL CONSORCI</a></li>
                    <li><a href="login">LLEGIR I COMPARTIR</a></li>
                    <li class="navbar-figure"><img src="/static/images/navbar_figure.png"></li>
                    <li class="navbar-envelope"><img src="/static/images/navbar_envelope.png"></li>
                    <li class="navbar-lupa"><img src="/static/images/navbar_lupa.png"></li>
                </ul>
            </nav>
        </header>

    {% block content %}

    {% endblock %}
    </body>
</html>