<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/indice.css"/>
    <header>
        <nav>
            <ul>
                <li><img src="/static/images/logo_csdm.jpg"></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Información</a></li>
                <li><a href="#">Vídeos</a></li>
                <li><a href="login">Comparte tus lecturas</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
<br>
<div style="margin-left:100px">
    <h1>INFORMACION</h1>
    <br>
    <h3>APRENDE MIENTRAS ESPERAS</h3>
    <p>Comparte tus lecturas</p>
    <p href="">--> Quiero unirme</p>
    <br>
    <p>Escucha explicaciones de las enfermadades y tratamientos</p>
    <br>
    <p>Mira videos sobre El cuerpo humano</p>
</div>
</body>
</html>
