{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
    <br>
    <br>
    <div id="contenedor">
        <div id="central-login">
            <div id="login">
                <div class="titulo">
                    Llegir i compartir
                </div>
                <form method="POST" action="{{ url_for('login') }}">
                    <br>
                    <label class="field-title">Usuari</label>
                    <input type="text" name="usuario" placeholder="nom d'usuari" id="usuario" required/>

                    <label class="field-title">Contrasenya</label>
                    <input type="password" name="password" placeholder="contrasenya" id="password" required/>

                    <div class="flex-links">
                    <a href="#">Restablir<br>contrasenya</a>
                    <button type="submit">Envia</button>
                    </div>
                </form>
                <div class="pie-form">
                    Encara no tens usuari? <a href="/register">Registra't!</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}
