<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <meta name="viewport">
    <head>
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <script>
            function onSubmit(token) {
                document.getElementById("register-form").submit();
            }
        </script>
    </head>
<body>
<h1>Registro</h1>
<form action="/register" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br><br>

    <label for="apellido1">Apellido 1:</label>
    <input type="text" id="apellido1" name="apellido1" required><br><br>

    <label for="apellido2">Apellido 2:</label>
    <input type="text" id="apellido2" name="apellido2"><br><br>

    <label for="nacimiento">Fecha de nacimiento:</label>
    <input type="date" id="nacimiento" name="nacimiento"><br><br>

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono"><br><br>

    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required><br><br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label class="rol">
        <input type="text" class="text" name="rol" readonly placeholder="user" id="rol" value="user" required/>
        <span class="required">rol</span>
    </label>

    <form id="register-form" action="procesar_registro.php" method="POST">
        <!-- Agrega los campos del formulario aquí -->
        <div class="h-captcha" data-sitekey="c18204ec-4b75-438a-82bb-4930f89ee91d" data-callback="onSubmit"></div>
        <br>
        <button type="submit">Registrarse</button>
    </form>

    <button type="submit">Registrarse</button>
</form>
</body>
</html>